@model CinemaDBWeb.Models.Session

@{
    ViewData["Title"] = "Детали Сеанса и Билеты";
}

<h1>
    @Model.Movie.Title -
    @if (Model.Date.HasValue)
    {
        @Model.Date.Value.ToString("dd.MM.yyyy HH:mm")
    }
    else
    {
        @:Не указано
    }
</h1>


<p>
    <a asp-action="Index" class="btn btn-primary">Назад к списку сеансов</a>
</p>

<style>
    body {
        background-color: #000000;
        color: #FFFFFF;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        line-height: 1.6;
    }


    h1 {
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #444444;
        border: none;
        color: #FFFFFF;
        padding: 8px 16px;
        text-decoration: none;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 4px;
    }

    .btn-primary:hover {
        background-color: #555555;
    }


    .table {
        width: 100%;
        background-color: #333333;
        color: #FFFFFF;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
    }

    .table th, .table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #444444;
        font-size: 16px;
    }

    .table th {
        background-color: #444444;
    }

    .table tr:nth-child(even) {
        background-color: #3a3a3a;
    }

    .table tr:hover {
        background-color: #555555;
        cursor: pointer;
    }


    a {
        color: #1E90FF;
        text-decoration: none;
        margin: 0 5px;
    }

    a:hover {
        color: #63B8FF;
    }


    img {
        max-height: 100px;
        max-width: 70px;
        border-radius: 5px;
    }
</style>

<h2>Билеты</h2>
<table class="table">
    <thead>
        <tr>
            <th>Ряд</th>
            <th>Место</th>
            <th>Цена</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets.OrderBy(t => t.RowNumb).ThenBy(t => t.SeatNumb))
        {
            <tr>
                <td>@ticket.RowNumb</td>
                <td>@ticket.SeatNumb</td>
                <td>@ticket.Price</td>
                <td>@(ticket.isSold ? "Продан" : "Доступен")</td>
                <td>
                    @if (!ticket.isSold)
                    {
                        <a asp-action="BuyTicket" asp-route-ticketId="@ticket.TicketId" class="btn btn-primary">Купить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
